<!--to-do: collect money, new message, UI switch, share account, bill split-->
<body>
  <div class='citysearch'>
    <button class='dropbtn'>Select the city nearest to you.</button>
    <div class='drop-content'>
      <a href='#'>New York</a>
      <a href='#'>Detroit</a>
      <a href='#'>Houston</a>
      <a href='#'>San Francisco</a>
      <a href='#'>Sydney</a>
      <a href='#'>Tokyo</a>
      <a href='#'>Beijng</a>
      <a href='#'>New Delhi</a>
      <a href='#'>St. Petersburg</a>
      <a href='#'>Stockholm</a>
      <a href='#'>Bergen</a>
      <a href='#'>Budapest</a>
      <a href='#'>Munich</a>
      <a href='#'>Milan</a>
      <a href='#'>London</a>
      <a href='#'>Dublin</a>
    </div>

  </div>
  
  <div class='searchbar'>
    <form action='/action_page.php'>
      <input type='text' placeholder='Search the app...' name='search'>
      <button type='submitbtn'>Submit</button>
    </form>
    
  </div>

  <div>
    <div class='codesubmit'>
      <div class='qrtext'>
        <p>Scan QR code here</p>
      </div>
    </div>
    <input type='submit' value='Submit'>
  </div>
</body>

